* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",Tahoma,Helvetica;
    color: #3d3d3d;
    letter-spacing: .1px;
}
ol {padding-left:10px}
ul {list-style:none;padding-left:10px;}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 18px;
}
input{outline:none} 
#purchase-box {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #C5D3D6;
    filter: alpha(opacity=60);
    background-color: rgb(80, 149, 174);
    background-color: rgba(80, 149, 174, 0.6);
}
.zh-img, 
.en-img {
    width: 240px;
    height: 240px;
    margin: 120px auto;
    border-radius: 5px;
    box-shadow: 0 0 9px #aaa;
    background-size: 100%;
    z-index: 1000;
}
.zh-img {
    background-image: url(purchase-zh.jpg);
}
.en-img {
    background-color: #FFF;
    box-sizing: border-box;
    padding: 30px 0;
}
.en-thanks-tit {
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
}
.en-thanks-sel select{
    width: 90%;
    margin-left: 5%;
}
.pay_img {
    display: block;
    margin: 0 auto;
    margin-top: 30px;    
}
#purchase-box::after {
    content: "x";
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    width: 24px;
    height: 24px;
    left: 50%;
    margin-left: -12px;
    cursor: pointer;
    background-color: #ccc;
    color: #FFF;
    line-height: 24px;
    position: fixed;
    top: 370px;
    z-index: 9999;
}
/************* common  ***************/
/* same css is useless */
@media screen and (min-width: 768px) {
    #example-navbar-collapse {
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
    .foo {
        height: 80px;
    }
    header {
        height: 250px;
        background-color: #000;
        background: url('img_background.png') no-repeat;
        background-size: cover;
        font-family: Roboto-Thin;
    }
    header * {
        display: inline-block;
    }
    .header {
        background-color:  #000;
        height: 80px;
    }
    .index-header {
        height: 100%;
        display: flex;
        justify-content: space-between;
        -moz-justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: center;
    }
    .logo {
        margin-left: -25px;
    }
    .header-title {
        text-align: center;
    }
    .header-title li{
        display: inline;
        font-family: Roboto-Thin;
        font-size: 16px;
        margin-right: 25px;
        position: relative;
    }
    .header-title li:last-child {
        margin-right: 0;
    }
    .header-title li a {
        color: #8a8787;
    }
    .header-title li .header-selected {
        color:  #fff;
    }
    .header-title .header-title-selected {
        width: 6px;
        height: 6px;
        display: block;
        background: #49B300;
        position: absolute;
        left: 50%;
        bottom: -15px;
        margin-left: -6px;
        border-radius: 50%;
    }
    .search-box {
        position: relative;
        margin-right: 4%;
    }
    .search-box input {
        border: 0;
        border-bottom: 1px solid #FFFFFF;
        background-color: transparent;
        font-size: 14px;
        color: #fff;
        width: 120px;
    }
    .search-box button{
        background-color: transparent;
        border: 0;
    }
    .search-box button {
        position: absolute;
        top: -3px;
        right: 2px;
    }
    .index-main-pic {
        margin-top: -150px;
    }
    .index-main-pic {
        margin-top: -150px;
    }
    .clear-margin {
        margin-left: 10px;
        margin-right: 10px;
    }
    .index-content {
        margin-top: 50px;
    }
    .index-content h2 {
        font-size: 36px;
        color: #4A4A4A;
        letter-spacing: 0.07px;
        margin-bottom: 30px;
    }
    .index-tag {
        display: inline-block;
        background: #FFDE00;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-top: 5px;
    }
    .index-content-text {
        font-size: 20px;
        color: #000000;
        letter-spacing: 0.01px;
        line-height: 30px;
        margin-bottom: 40px;
    }
    .index-more-item {
        background: #FFFEFE;
        border-radius: 3px;
        padding: 10px 20px;
    }
    .index-more .index-more-li {
        padding-left: 10px;
        padding-right: 10px;
    }
    .index-more-item {
        min-height: 350px;
    }
    .index-faq {
        margin-top: 60px;
        padding-bottom: 40px;
    }
    .index-faq-li {
        padding-left: 0;
        padding-right: 0;
    }
    .index-faq-li > img {
        width: 30px;
    }
    .index-link-logo {
        margin-right: 35px;
        margin-top: 20px;
    }
    .span-faq {
        font-size: 25.65px;
        color: #000000;
        letter-spacing: 0.55px;
        vertical-align: middle;
    }
    .index-shop-img {
        height: 40px;
        margin-bottom: 10px;
        border-radius: 5px;
        border:1px solid #ccc;
    }
    footer {
        min-height: 80px;
        background-color: #2F2F2F;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0.11px;
    }
    .footer-block-item {
        color: #fff;
        margin-top: 25px;
        font-family: Roboto-Thin;
    }
    .fixfooter {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        height: 80px;
        z-index: 4;
    }
    .doc-header {
        position: fixed;
        top: 0;
        height: 80px;
        width: 100%;
        z-index: 10;
    }
    .margin-header {
        margin-top: 100px !important;
    }
}

@media screen and (min-width: 992px) {
    header {
        height: 350px;
    }
    .index-main-pic {
        margin-top: -220px;
    }
    .index-more-item {
        min-height: 320px;
    }
}

@media screen and (min-width: 1200px) {
    header {
        height: 482px;
    }
    .index-main-pic {
        margin-top: -300px;
    }
    .index-more-item {
        min-height: 270px;
    }
}

@media screen and (max-width: 767px) {
    .doc-header {
        background-color: #000;
    }
    .index-header {
        padding: 0;
    }
    .logo img {
        height: 50px;
        margin: 10px 18px;
    }
    .header-title li {
        text-align: center;
        line-height: 35px;
    }
    .index-header .navbar-header {
        border-bottom: 1px solid #555;
    }
    .header-title li a {
        color: #fff;
    }
    .navbar-header button {
        margin-top: 20px;
    }
    .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .header-phone-selected {
        background-color: #555;
    }
    .index-main-pic img {
        width: 100%;
    }
    .index-content h2{
        font-family: Roboto-Condensed;
        font-size: 15.75px;
        color: #000000;
        letter-spacing: 0.03px;
        font-weight: 600;
    }
    .index-content > div {
        margin: 35px;
        margin-bottom: 20px;
        text-align: center;
    }
    .index-content-text {
        font-family: Roboto-Light;
        font-size: 10px;
        color: #000000;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: 10px;
    }
    .index-shop-img {
        height: 40px;
        margin-bottom: 15px;
    }
    .index-shop-logo-ul {
        margin-top: 30px;
        margin-bottom:20px;
    }
    .index-more-li {
        margin: 0 30px 30px 30px;
    }
    .index-faq-li {
        margin: 0 30px 30px 30px;
    }
    .span-faq {
        font-family: Roboto-Condensed;
        font-size: 22px;
        color: #000000;
        letter-spacing: 0.47px;
        vertical-align: middle;
    }
    .index-faq-li > img {
        width: 22px;
    }

    footer {
        padding: 25px;
        background-color: #000;
        color: #fff;
        position: relative;
    }
    .footer-item1 {
        font-family: Roboto-Light;
        font-size: 11px;
        letter-spacing: 0.07px;
        line-height: 18px;
        width: 70%;
    }
    .footer-item2 {
        font-family: .PingFangSC-Regular;
        font-size: 11px;
        letter-spacing: 0.46px;
        line-height: 30px;
    }
    .footer-div1 {
        width: 70%;
    }
    .footer-div2 {
        position: absolute !important;
        bottom: 30px;
        right: 30px;
    }
    .footer-div2 img {
        width: 57px;
    }
}
/*********end**********/

.contain {
    max-width: 738px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
div.highlight {
    /*padding: 10px 20px;*/
    background-color: #f4f4f4;
    /*border: 1.5px solid #979797;*/
    border-radius: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.highlight span {
    line-height: 25px;
}
.headerlink {
    display: none;
}
p.strong {
    color: #2d2d2d;
}
img {
    max-width: 100%;
}
pre {
    overflow-x: auto;
    width: 100%;
    padding-bottom: 5px;
    line-height: 22px;
    font-size: 14px;
}
.document {
    margin-bottom: 40px;
}
h1 {
    margin: 25px 0 20px;
    font-size: 20px;
    font-weight: 600;
    color: #2d2d2d;
}
h2 {
    margin: 20px 0 15px;
    font-size: 18px;
    font-weight: 600;
}
h3,
h4,
h5 {
    margin: 16px 0 12px;
    font-weight: 600;
}
p {
    line-height: 22px;
    margin-bottom: 12px;
}
.highlight-default .highlight .c1 {
    font-style: normal;
}
.image-reference {
    text-align: center;
    display: block;
    max-width: 100%;
    margin: 20px 0;
    cursor: pointer;
}
.image-reference img {
    width: 100%;
}
.video {
    position: relative;
}
.video::after {
    content: '';
    margin: auto;
    width: 40px;
    height: 40px;
    background: url(course_ic_play@2x.png);
    background-size: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.button {
    background: #4bac07;
    border: none;
    color: #fff;
    padding: 7px 15px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 15px;
}

.star-footer {
    text-align: center;
    margin-bottom: 40px;
}
.star-footer img {
    width: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}
#praise span {
    color: #4bac07;
}
.web-show {
    display: none;
}
.bodywrapper .body form {
    position: relative;
}
.bodywrapper .body form input:first-child {
    border: 0;
    border-bottom: 1px solid #333;
    background-color: transparent;
    font-size: 16px;
    line-height: 26px;
    width: 200px;
    text-align: center;
    padding-right: 25px;
}
.bodywrapper .body form input:first-child:hover {
    border-bottom: 2px solid #333;
}
.bodywrapper .body form input:nth-child(2) {
    background-image: url(ic_search_1.png);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 180px;
    bottom: 3px;
    border: none;
    background-color: transparent;
}
tr.row-even {
    font-family: Roboto-Regular;
    color: #4A4A4A;
    background-color: #eae9e9;
}

.docutils th,
.docutils td {
    text-align: center;
}
table.docutils {
    border: 1px solid #E0E0E0;
    text-align: center;
    /*border-collapse: collapse;*/
    width: 100%;
}